@media only screen and (max-width: 1400px) {
    .call_btn {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (max-width: 1050px) {
    header {
        .header_top {
            .nav_top_link {
                display: none;
            }

            .media_burger {
                display: block;
            }
        }

        .header_line {
            margin: 6px 0;
        }

        .header_bottom_link {
            display: none;
        }

        .header_center {
            margin-bottom: 0;
            padding-bottom: 10px;

            .header_left {
                span {
                    display: none;
                }
            }

            .header_search {
                display: none;
            }

            .header_number {
                display: none;
            }

            .media_phone {
                display: flex;
            }
        }
    }

    footer {

        padding: 40px 0 70px 0;

        .footer_line {
            margin: 20px 0 10px 0;
        }

        .footer_block_left {
            margin-right: 0;
        }

        .footer_phone {
            font-size: 22px;
            font-weight: 700;
            line-height: 130%;
            margin-bottom: 16px;
        }

        .footer_email {
            font-size: 18px;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 16px;
        }

        .footer_top {
            flex-direction: column;
            gap: 40px;
        }

        .footer_block_desktop {
            display: none;
        }

        .footer_block_left {
            .media_footer_top {
                display: flex;
            }
        }

        .accordion-single {
            display: block;
        }

        .footer_bottom {
            flex-direction: column;
            gap: 10px;

            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 150%;
            }

            p {
                font-size: 10px;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    h1.main_title {
        color: --txt-grey;
        font-family: var(--Montserrat);
        font-size: 42px;
        font-weight: 400;
        line-height: 130%;
    }

    h2 {
        color: --txt-grey;
        font-family: var(--Roboto);
        font-size: 36px;
        font-weight: 400;
        line-height: 130%;
    }
    
    h3 {
        color: --txt-grey;
        font-family: var(--Manrope);
        font-size: 32px;
        font-weight: 400;
        line-height: 130%;
    }
    
    h4 {
        color: --txt-grey;
        font-family: var(--Manrope);
        font-size: 28px;
        font-weight: 500;
        line-height: 130%;
    }
    
    h5 {
        color: --txt-grey;
        font-family: var(--Roboto);
        font-size: 24px;
        font-weight: 400;
        line-height: 130%;
    }

    p {
        color: var(--txt-grey);
        font-family: var(--Roboto);
        font-size: 17px;
        font-weight: 400;
        line-height: 130%;
    }
}

@media only screen and (max-width: 993px) {

    .location {
        .select {
            width: 215px;

            .head {
                span {
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 150%; 
                }
            }

            .result  {
                button {
                    padding: 5px 10px;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 150%; 
                }
            }
        }
    }

    header {
        .header_line {
            display: none;
        }

        .header_top {
            padding-bottom: 6px;
            margin-bottom: 6px;
            border-bottom: 1px solid #4E4E4E;
        }
    }

    .home {
        background-image: url('../images/home_mobile_bg.png');
        background-size: contain;

        .main_container {
            margin-top: 350px;
            flex-direction: column;
        }

        .home_form {
            background-color: #F6F6F6;
            padding: 40px;

            h4 {
                font-size: 22px;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 10px;
            }

            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 150%;
            }

            .form {
                margin-top: 20px;

                .form_one_input {
                    margin-bottom: 10px;
                }

                .main_input {
                    text-align: center;
                    height: 42px;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 150%; 
                }

                .form_btn {
                    margin: 10px 0;
                    height: 50px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 150%;
                    gap: 6px;
                }

                p {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 150%;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        .home_left {
            h1 {
                font-size: 28px;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                font-weight: 600;
                line-height: 150%;
                margin-bottom: 6px;
            }

            ul {
                li {
                    margin-bottom: 5px;
                    gap: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 150%;
                }
            }
        }
    }

    .home_under {
        .main_container {
            padding: 20px ;
            flex-wrap: wrap;
            width: 300px;
            gap: 20px 10px;
        }

        .home_under_card {
            width: calc(100% / 2 - 5px);
            gap: 6px;

            h5 {
                font-size: 12px;
                font-weight: 600;
                line-height: 130%;
            }

            img {
                width: 24px;
            }
        }
    }

    .bestsellers {
        margin: 90px 0;

        .bestsellers_title {
            font-size: 22px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 30px;
        }

        .bestsellers_in {
            flex-wrap: wrap;
            gap: 20px;

            .bestsellers_card {
                width: calc(100% / 2 - 10px);
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    h1.main_title {
        font-family: var(--Roboto);
        font-size: 42px;
        font-weight: 400;
        line-height: 130%;
    }

    h2 {
        font-family: var(--Roboto);
        font-size: 36px;
        font-weight: 400;
        line-height: 130%;
    }
    
    h3 {
        font-family: var(--Manrope);
        font-size: 32px;
        font-weight: 400;
        line-height: 130%;
    }
    
    h4 {
        font-family: var(--Manrope);
        font-size: 28px;
        font-weight: 400;
        line-height: 130%;
    }
    
    h5 {
        font-family: var(--Roboto);
        font-size: 24px;
        font-weight: 400;
        line-height: 130%;
    }

    .call_btn {
        right: 20px;
        bottom: 20px;
        width: 40px;
        height: 40px;

        img {
            width: 15px;
        }
    }

    .home {
        .main_container {
            margin-top: 130px;
        }
    }
}

@media only screen and (max-width: 480px) {
    h1.main_title {
        font-size: 42px;
        font-weight: 400;
        line-height: 130%;
    }
}

@media only screen and (max-width: 320px) {
    h1.main_title {
        font-size: 42px;
        font-weight: 400;
        line-height: 130%;
    }
}