@media only screen and (max-width: 1400px) {
    .call_btn {
        right: 20px;
        bottom: 20px;
    }
}

@media only screen and (max-width: 1260px) {
    .category {
        .category_main {
            
            .category_main_right {
                display: flex;
                justify-content: end;

                img {
                    max-width: 215px;
                    width: 215px;
                }

            }

            .category_main_left {
                .form_btn {
                    width: 100%;
                }
            }

        }

        .category_card {
            display: none;
        }
        .category_bottom {
            justify-content: center;

            .category_media {
                display: flex;
            }
        }

    }

    .payment {
        .payment_left {
            flex: 1;
        }
    }
}

@media only screen and (max-width: 1050px) {
    header {
        .header_top {
            .nav_top_link {
                display: none;
            }

            .media_burger {
                display: block;
            }
        }

        .header_line {
            margin: 6px 0;
        }

        .header_bottom_link {
            display: none;
        }

        .header_center {
            margin-bottom: 0;
            padding-bottom: 10px;

            .header_left {
                span {
                    display: none;
                }
            }

            .header_search {
                display: none;
            }

            .header_number {
                display: none;
            }

            .media_phone {
                display: flex;
            }
        }
    }

    footer {

        padding: 40px 0 70px 0;

        .footer_line {
            margin: 20px 0 10px 0;
        }

        .footer_block_left {
            margin-right: 0;
        }

        .footer_phone {
            font-size: 22px;
            font-weight: 700;
            line-height: 130%;
            margin-bottom: 16px;
        }

        .footer_email {
            font-size: 18px;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 16px;
        }

        .footer_top {
            flex-direction: column;
            gap: 40px;
        }

        .footer_block_desktop {
            display: none;
        }

        .footer_block_left {
            .media_footer_top {
                display: flex;
            }
        }

        .accordion-single {
            display: block;
        }

        .footer_bottom {
            flex-direction: column;
            gap: 10px;

            span {
                font-size: 12px;
                font-weight: 400;
                line-height: 150%;
            }

            p {
                font-size: 10px;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    h1.main_title {
        color: --txt-grey;
        font-family: var(--Montserrat);
        font-size: 42px;
        font-weight: 400;
        line-height: 130%;
    }

    h2 {
        color: --txt-grey;
        font-family: var(--Roboto);
        font-size: 36px;
        font-weight: 400;
        line-height: 130%;
    }
    
    h3 {
        color: --txt-grey;
        font-family: var(--Manrope);
        font-size: 32px;
        font-weight: 400;
        line-height: 130%;
    }
    
    h4 {
        color: --txt-grey;
        font-family: var(--Manrope);
        font-size: 28px;
        font-weight: 500;
        line-height: 130%;
    }
    
    h5 {
        color: --txt-grey;
        font-family: var(--Roboto);
        font-size: 24px;
        font-weight: 400;
        line-height: 130%;
    }

    p {
        color: var(--txt-grey);
        font-family: var(--Roboto);
        font-size: 17px;
        font-weight: 400;
        line-height: 130%;
    }
}

@media only screen and (max-width: 993px) {

    .breadcrumb {
        margin: 20px 0 30px 0;

        a, span {
            font-size: 12px;
        }
    }

    .location {
        .select {
            width: 215px;

            .head {
                span {
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 150%; 
                }
            }

            .result  {
                button {
                    padding: 5px 10px;
                    font-size: 12px;
                    font-weight: 300;
                    line-height: 150%; 
                }
            }
        }
    }

    header {
        .header_line {
            display: none;
        }

        .header_top {
            padding-bottom: 6px;
            margin-bottom: 6px;
            border-bottom: 1px solid #4E4E4E;
        }
    }

    .home {
        background-image: url('../images/home_mobile_bg.png');
        background-size: contain;

        .main_container {
            margin-top: 40%;
            flex-direction: column;
        }

        .home_form {
            background-color: #F6F6F6;
            padding: 40px;

            h4 {
                font-size: 22px;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 10px;
            }

            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 150%;
            }

            .form {
                margin-top: 20px;

                .form_one_input {
                    margin-bottom: 10px;
                }

                .main_input {
                    text-align: center;
                    height: 42px;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 150%; 
                }

                .form_btn {
                    margin: 10px 0;
                    height: 50px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 150%;
                    gap: 6px;
                }

                p {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 150%;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }

        .home_left {
            h1 {
                font-size: 28px;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                font-weight: 600;
                line-height: 150%;
                margin-bottom: 6px;
            }

            ul {
                li {
                    margin-bottom: 5px;
                    gap: 10px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 150%;
                }
            }
        }
    }

    .home_under {
        .main_container {
            padding: 20px ;
            flex-wrap: wrap;
            width: 300px;
            gap: 20px 10px;
        }

        .home_under_card {
            width: calc(100% / 2 - 5px);
            gap: 6px;

            h5 {
                font-size: 12px;
                font-weight: 600;
                line-height: 130%;
            }

            img {
                width: 24px;
            }
        }
    }

    .bestsellers {
        margin: 90px 0;

        .bestsellers_title {
            font-size: 22px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 30px;
        }

        .bestsellers_in {
            flex-wrap: wrap;
            gap: 20px;

            .bestsellers_card {
                width: calc(100% / 2 - 10px);
            }
        }

        .bestsellers_img {
            .bestsellers_img_titles {
                gap: 2px;
                span {
                    padding: 2px 6px;
                    font-size: 8px;
                    font-weight: 600;
                    line-height: 150%;
                }
            }
        }

        .bestsellers_content {
            padding: 8px 8px 0 8px;

            h5 {
                font-size: 12px;
                font-weight: 600;
                line-height: 130%;
                margin-bottom: 10px;
            }

            span {
                font-size: 11px;
                font-weight: 400;
                line-height: 150%;

                h6 {
                    font-size: 11px;
                    font-weight: 400;
                    line-height: 150%;
                }
            }

            .bestsellers_btns {
                height: 45px;
                margin-top: 15px;
                
                h6 {
                    del {
                        font-size: 12px;
                        font-weight: 300;
                        line-height: 150%;
                    }
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 150%;
                }
            }
        }

        .form_btn {
            width: 319px;
            height: 58px;
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
        }
    }

    .statistic {

        .statistic_in {
            gap: 20px;
            padding: 20px 0;
        }

        .statistic_card {
            height: 93px;
            width: calc(100% / 2 - 10px);
        }

        h2 {
            font-size: 22px;
            font-weight: 600;
            line-height: 130%;
        }

        .statistic_line {
            margin: 8px 0 6px 0;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 150%;
        }
    }

    .legal {
        margin: 90px 0;
        .main_container {
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        h2 {
            font-size: 22px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 30px;
        }

        ul {
            li {
                img {
                    width: 30px;
                }
                font-size: 16px;
                font-weight: 500;
                line-height: 150%;
            }
        }
    }

    .payment {
        .main_container {
            flex-direction: column;
            gap: 20px;
        }

        .payment_left {
            h2 {
                font-size: 22px;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 30px;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 150%;
            }

            h5 {
                margin: 10px 0;
                font-size: 14px;
                font-weight: 700;
                line-height: 150%;
            }

            ul {
                margin-bottom: 10px;
                gap: 10px;
                li {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 150%;
                }
            }

            .form_btn {
                font-size: 18px;
                width: 320px;
            }
        }

        .payment_right {
            background-color: #F5F5F5FF;
            transform: scale(1.4);
            border-radius: 6px;
            height: 424px;
            width: 268px;
            margin: 80px auto 0 auto;

            h4 {
                font-size: 22px;
                font-weight: 700;
                line-height: normal;
                margin: 0 0 12px 0;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 150%; 
                margin-bottom: 10px;
            }

            ul {
                gap: 2px;
                li {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 150%;
                    br {
                        display: none;
                    }
                }
            }

            .payment_right_text {
                width: 75%;
                inset: 30px;
            }

            .payment_main_img {
                border-radius: 6px;
                height: 424px;
                object-fit: contain;
            }
        }
    }

    .about_product {
        h2 {
            font-size: 22px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 30px;
        }
        
        .form_btn {
            font-size: 18px;
            width: 320px;
        }

        .about_product_left_text {
            margin-bottom: 10px;
        }

        .about_product_in {
            flex-direction: column;
            gap: 40px;

            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 150%;
            }
        }

        .about_product_right {
            transform: scale(1.2);
        }
    }

    .index_bottom {
        margin: 40px 0;

        img {
            height: 300px;
            border-radius: 6px;
        }

        .main_container {
            flex-direction: column;
        }

        .index_bottom_left {
            gap: 10px;
        }

        .index_bottom_right {
            gap: 10px;
            flex-direction: column-reverse;
        }

        h5 {
            font-size: 18px;
            font-weight: 700;
            line-height: 150%;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 150%;
        }
    }

    .payment_page {
        padding-bottom: 20px;
        .payment_right {
            transform: scale(1.3);
        }
    }

    .material {

        h2 {
            font-size: 22px;
            font-weight: 700;
            line-height: normal;
        }

        .form_btn {
            width: 320px;
        }
        .material_contact {
            flex-direction: column;
            gap: 30px;
            margin-bottom: 65px;

            .material_contact_img {
                transform: scale(1.2);
            }

            .material_form {
                background-color: #F6F6F6;

                h4 {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 10px;
                }
    
                p {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 150%;
                }
    
                .form {
                    margin-top: 20px;
    
                    .form_one_input {
                        margin-bottom: 10px;
                    }
    
                    .main_input {
                        text-align: center;
                        height: 42px;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 150%; 
                    }
    
                    .form_btn {
                        margin: 10px 0;
                        height: 50px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 150%;
                        gap: 6px;
                    }
    
                    p {
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 150%;
    
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .contact_page {
        margin-bottom: 40px;

        h2 {
            font-size: 22px;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 20px;
        }

        .contact_page_in {
            display: block;
            flex-direction: column;
        }

        .contact_page_left {
            height: 320px;
            margin-bottom: 30px;
        }
        .contact_page_right {
            h3 {
                font-size: 22px;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 10px;
            }

            ul {
                gap: 5px;
                li {
                    gap: 10px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
        }

    }

    .about {

        .about_in {
            flex-direction: column;
            gap: 20px;
        }

        .about_left {
            .form_btn {
                width: 320px;
            }

            h2 {
                font-size: 22px;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 20px;
            }

            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 150%; 
                margin-bottom: 10px;
            }

            h5 {
                font-size: 16px;
                font-weight: 700;
                line-height: 150%;
                margin-bottom: 10px;
            }

            ul {
                li {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 150%;
                }
            }
        }

        .about_right {
            display: flex;
            justify-content: center;
        }

        .material_contact {
            flex-direction: column;
            gap: 30px;
            margin-bottom: 65px;

            .material_form {
                background-color: #F6F6F6;

                h4 {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 10px;
                }
    
                p {
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 150%;
                }
    
                .form {
                    margin-top: 20px;
    
                    .form_one_input {
                        margin-bottom: 10px;
                    }
    
                    .main_input {
                        text-align: center;
                        height: 42px;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 150%; 
                    }
    
                    .form_btn {
                        margin: 10px 0;
                        height: 50px;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 150%;
                        gap: 6px;
                    }
    
                    p {
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 150%;
    
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    h1.main_title {
        font-family: var(--Roboto);
        font-size: 42px;
        font-weight: 400;
        line-height: 130%;
    }

    h2 {
        font-family: var(--Roboto);
        font-size: 36px;
        font-weight: 400;
        line-height: 130%;
    }
    
    h3 {
        font-family: var(--Manrope);
        font-size: 32px;
        font-weight: 400;
        line-height: 130%;
    }
    
    h4 {
        font-family: var(--Manrope);
        font-size: 28px;
        font-weight: 400;
        line-height: 130%;
    }
    
    h5 {
        font-family: var(--Roboto);
        font-size: 24px;
        font-weight: 400;
        line-height: 130%;
    }

    .call_btn {
        right: 20px;
        bottom: 20px;
        width: 40px;
        height: 40px;

        img {
            width: 15px;
        }
    }

    .category {

        .category_top {
            margin-bottom: 30px;
        }

        .category_main {
            transform: scale(1.1);
            padding: 22px;
            gap: 0;

            .category_main_block {
                width: 100%;
            }

            .category_main_left {
                flex: 2;

                h2 {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: normal;
                    margin-bottom: 10px;
                }

                p {
                    margin: 0 0 13px 0;
                    font-size: 12px;
                    font-weight: 600;
                    line-height: 130%;
                }

                .form_btn {
                    font-size: 16px;
                }
            }

            .category_main_right {
                flex: 1;
                justify-content: start;


                img {
                    width: 100%;
                    max-width: 100%;
                    // width: 115px;
                    // max-width: 115px;
                }
            }
        }
    }

    .legal {
        margin: 90px 0;
        
        .legal_right {
            margin-top: 20px;
            transform: scale(1.1);
        }
    }

    .material {

        h2 {
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 22px; 
        }

        .material_cards {
            .material_card {
                width: calc(100%);

                h5 {
                    justify-content: space-between;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 22px;
                    img {
                        display: block;
                        width: 24px;
                        margin-bottom: 0;
                    }
                }

                a {
                    font-size: 10px;
                    font-weight: 400;
                    line-height: 16px;
                }

                p {
                    display: none;
                }

                img {
                    width: 100%;
                }
            }
        }

        .material_cards_bottom {
            padding-bottom: 40px;
            margin-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 480px) {
    h1.main_title {
        font-size: 42px;
        font-weight: 400;
        line-height: 130%;
    }

    .about {
        .material_contact {

            .material_contact_img {
                transform: scale(1.2);
            }
        }

        .about_in {
            display: block;
        }

        .about_left {
            margin-bottom: 20px;
        }

        .about_right {
            width: 100%;
            height: 300px;
            
            img {
                border-radius: 6px;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    // .home {
    //     .main_container {
    //         margin-top: 30%;
    //     }
    // }
}

@media only screen and (max-width: 360px) {
    h1.main_title {
        font-size: 42px;
        font-weight: 400;
        line-height: 130%;
    }

}