:root {
  --red: #99020E;
  --bg-dark-grey: #303030;
  --white: #FFFFFF;
  --hover-pink: #CC3540;
  --txt-grey: #282828;
  --txt-light: #B4B4B4;
  --line-grey: #F0F0F0;
  --orange: #FF6408;
  --bg-grey: #E7E5E5;
  --bg-dark-grey: #303030;
  --grey: #464646;
  --Manrope: "Manrope", sans-serif;
  --Montserrat: "Montserrat", sans-serif;
  --Roboto: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

body {
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

body {
  font-style: normal;
  font-family: var(--Manrope);
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.main_container {
  max-width: 1258px;
  padding: 0 20px;
  margin: 0 auto;
}

h1.main_title {
  color: --txt-grey;
  font-family: var(--Manrope);
  font-size: 62px;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: --txt-grey;
  font-family: var(--Manrope);
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
}

h3 {
  color: --txt-grey;
  font-family: var(--Manrope);
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}

h4 {
  color: --txt-grey;
  font-family: var(--Manrope);
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
}

h5 {
  color: --txt-grey;
  font-family: var(--Manrope);
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
}

p {
  color: var(--txt-grey);
  font-family: var(--Manrope);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.call_btn {
  z-index: 3;
  position: fixed;
  bottom: 100px;
  right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  background: var(--gradient-button, linear-gradient(89deg, #FF6205 0.3%, #FF9744 99.67%));
  box-shadow: 0 0 0 0 #fff;
  animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 0 rgba(246, 187, 148, 0.95);
  }
  75% {
    box-shadow: 0 0 0 18px rgba(217, 95, 22, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(238, 144, 73, 0);
  }
}
.text_grandient {
  font-family: var(--Manrope);
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
  background: var(--gradient-button, linear-gradient(89deg, #FF6205 0.3%, #FF9744 99.67%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main_input {
  padding: 12px 30px;
  border-radius: 4px;
  color: var(--txt-light);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border: none;
  background: #FFF;
  border-radius: 4px;
  border: 1px solid var(--line-grey, #F0F0F0);
  background: linear-gradient(180deg, #FAFAFA 0%, rgba(240, 240, 240, 0) 100%);
}

.form_btn {
  width: 333px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: var(--txt-grey);
  font-family: var(--Manrope);
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  border-radius: 6px;
  border: 1px solid #E0DFDF;
  background: var(--button-gradient, linear-gradient(267deg, #DEDEDE -5.79%, rgba(203, 200, 200, 0) 64.85%, rgba(190, 186, 186, 0.26) 105.39%));
}

.accordion .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.location .select {
  width: 265px;
  position: relative;
}
.location .select .head {
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.location .select .head span {
  white-space: nowrap;
  margin-left: 7px;
  color: #B9B9B9;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.location .select .head input {
  border: 1px solid red;
  width: 100%;
  margin-left: 10px;
  display: none;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  background: transparent;
  outline: none;
  border: none;
}
.location .select .head .icon {
  transition: 0.2s ease;
}
.location .select .result {
  background-color: #fff;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
}
.location .select .result button {
  padding: 10px;
  color: #353535;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  -moz-text-align-last: left;
       text-align-last: left;
  transition: 0.2s ease;
}
.location .select .result button:hover {
  background: #D9D9D9;
}
.location .select.active {
  background: white;
}
.location .select.active .head span {
  display: none;
}
.location .select.active .head input {
  display: block;
}
.location .select.active .head .icon {
  transform: rotateZ(180deg);
}
.location .select.active .result {
  display: flex;
}

.breadcrumb {
  margin: 39px 0 30px 0;
  display: flex;
  align-items: center;
  gap: 6px;
}
.breadcrumb a {
  color: #464646;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.breadcrumb span {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

header {
  background-color: #464646;
}
header .header_line {
  margin: 8px 0 19px 0;
  background-color: #4E4E4E;
  height: 1px;
  width: 100%;
}
header .media_burger {
  display: none;
}
header .header_top {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_top .nav_top_link {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header_top .nav_top_link a {
  color: #B9B9B9;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
header .header_center {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_center .header_left {
  display: flex;
  align-items: center;
  gap: 20px;
}
header .header_center .header_left span {
  position: relative;
  color: #B9B9B9;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
}
header .header_center .header_left span:after {
  position: absolute;
  content: "";
  left: -7px;
  height: 100%;
  width: 1px;
  border-radius: 100px;
  background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
}
header .header_center .header_search {
  padding: 11px 14px;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 42px;
  width: 408px;
  border-radius: 6px;
  border: 1px solid #5C5C5C;
  background: #585858;
}
header .header_center .header_search input {
  width: 100%;
  background: none;
  border: none;
  color: #898989;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
header .header_center .header_number {
  display: flex;
  flex-direction: column;
  align-items: end;
}
header .header_center .header_number .header_phone {
  background: var(--gradient-line, linear-gradient(89deg, #F76F02 0.3%, #FD8132 99.67%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 22px;
  font-weight: 600;
  line-height: 130%; /* 28.6px */
}
header .header_center .header_number .header_email {
  color: #B9B9B9;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
header .header_center .media_phone {
  display: none;
}
header .header_bottom_link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_bottom_link .header_bootom_item {
  overflow: hidden;
  border-radius: 6px 6px 0 0;
}
header .header_bottom_link .header_bootom_item a {
  display: block;
  padding: 6px 30px 4px 30px;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  transition: 0.2s ease;
}
header .header_bottom_link .header_bootom_item a svg path {
  fill: var(--white);
}
header .header_bottom_link .header_bootom_item a:hover {
  background-color: var(--white);
  color: var(--orange);
}
header .header_bottom_link .header_bootom_item a:hover svg path {
  fill: var(--orange);
}
header .header_bottom_link .header_bootom_item.active {
  background-color: var(--white);
}
header .header_bottom_link .header_bootom_item.active a {
  color: var(--orange);
}
header .header_bottom_link .header_bootom_item.active a svg path {
  fill: var(--orange);
}

.home {
  padding: 35px 0;
  background-image: url("../images/home_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.home .main_container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.home .home_left h1 {
  color: var(--txt-grey);
  font-size: 62px;
  font-weight: 700;
  line-height: 74px;
  margin-bottom: 20px;
}
.home .home_left p {
  color: var(--txt-grey);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 16px;
}
.home .home_left ul li {
  display: flex;
  align-items: center;
  gap: 13px;
  color: var(--txt-grey);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 16px;
}
.home .home_form {
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgba(235, 235, 235, 0.1);
  background: var(--white);
  padding: 52px 40px;
}
.home .home_form h4 {
  margin-bottom: 20px;
}
.home .home_form p span {
  background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home .home_form .form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.home .home_form .form .main_input {
  height: 48px;
}
.home .home_form .form .form_one_input {
  margin-bottom: 14px;
}
.home .home_form .form .form_btn {
  margin: 20px 0;
  width: 100%;
}

.home_under {
  border-top: 1px solid var(--line-grey, #F0F0F0);
  border-bottom: 1px solid var(--line-grey, #F0F0F0);
}
.home_under .main_container {
  padding: 26px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home_under .home_under_card {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bestsellers {
  margin: 120px 0;
}
.bestsellers .bestsellers_title {
  margin-bottom: 50px;
}
.bestsellers .bestsellers_in {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.bestsellers .bestsellers_card {
  width: calc(25% - 23px);
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid var(--line-grey, #F0F0F0);
  background: var(--bg-cards, linear-gradient(180deg, #FAFAFA 0%, rgba(240, 240, 240, 0) 100%));
}
.bestsellers .bestsellers_img {
  position: relative;
}
.bestsellers .bestsellers_img img {
  width: 100%;
}
.bestsellers .bestsellers_img .bestsellers_img_titles {
  position: absolute;
  left: 10px;
  top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.bestsellers .bestsellers_img .bestsellers_img_titles span {
  color: var(--white);
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  padding: 4px 16px;
  border-radius: 2px;
}
.bestsellers .bestsellers_img .bestsellers_img_titles .one {
  background-color: #FF1D1D;
}
.bestsellers .bestsellers_img .bestsellers_img_titles .two {
  background-color: #02C20D;
}
.bestsellers .bestsellers_img .bestsellers_img_titles .three {
  background-color: #FC7412;
}
.bestsellers .bestsellers_content {
  padding: 20px 20px 0 20px;
}
.bestsellers .bestsellers_content h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 6px;
}
.bestsellers .bestsellers_content span {
  display: flex;
  align-items: center;
  color: var(--txt-light, #B4B4B4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 4px;
}
.bestsellers .bestsellers_content span h6 {
  margin-left: 4px;
  color: var(--txt-grey, #282828);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
.bestsellers .bestsellers_content .bestsellers_btns {
  height: 80px;
  margin-top: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 8px;
}
.bestsellers .bestsellers_content .bestsellers_btns h6 {
  display: flex;
  flex-direction: column;
  color: var(--orange, #FF6408);
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.bestsellers .bestsellers_content .bestsellers_btns h6 del {
  color: var(--txt-light, #B4B4B4);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  text-decoration-line: strikethrough !important;
}
.bestsellers .form_btn {
  margin-top: 20px;
  width: 393px;
}

.category {
  margin-bottom: 90px;
}
.category .category_main {
  display: flex;
  align-items: end;
  gap: 30px;
  flex: 2;
  padding: 40px;
  border-radius: 6px;
  border: 1px solid var(--line-grey, #F0F0F0);
  background: var(--bg-cards, linear-gradient(180deg, #FAFAFA 0%, rgba(240, 240, 240, 0) 100%));
}
.category .category_main .category_main_block {
  width: 50%;
}
.category .category_main .category_main_left p {
  margin: 20px 0 30px 0;
}
.category .category_main .category_main_left .form_btn {
  width: 251px;
}
.category .category_main .category_main_right img {
  width: 230px;
  max-width: 230px;
}
.category .category_card {
  padding: 20px;
  flex: 1;
  border-radius: 6px;
  border: 1px solid var(--line-grey, #F0F0F0);
  background: var(--bg-cards, linear-gradient(180deg, #FAFAFA 0%, rgba(240, 240, 240, 0) 100%));
}
.category .category_card .category_card_img img {
  width: 100%;
}
.category .category_card .category_card_btn {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category .category_card .category_card_btn p {
  color: var(--txt-grey, #282828);
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
}
.category .category_top {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 30px;
}
.category .category_bottom {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.category .category_bottom .category_media {
  display: none;
  gap: 14px;
  flex-wrap: wrap;
}
.category .category_bottom .category_media .form_btn {
  width: calc(50% - 7px);
  gap: 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}

.statistic {
  border-top: 1px solid var(--line-grey, #F0F0F0);
  border-bottom: 1px solid var(--line-grey, #F0F0F0);
}
.statistic .main_container {
  max-width: 1044px;
}
.statistic .statistic_in {
  padding: 40px 0;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.statistic .statistic_card {
  width: calc(25% - 38px);
  text-align: center;
  display: flex;
  flex-direction: column;
}
.statistic h2 {
  background: var(--gradient-button, linear-gradient(89deg, #FF6205 0.3%, #FF9744 99.67%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
}
.statistic .statistic_line {
  margin: 6px 0 10px 0;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background: var(--gradient-line, linear-gradient(89deg, #F76F02 0.3%, #FD8132 99.67%));
}

.legal {
  margin: 90px 0 194px 0;
}
.legal .main_container {
  display: flex;
  gap: 30px;
}
.legal .legal_right, .legal .legal_left {
  flex: 1;
}
.legal .legal_right img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.legal h2 {
  margin-bottom: 50px;
}
.legal ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.legal ul li {
  display: flex;
  align-items: start;
  gap: 20px;
}
.legal ul li span {
  color: var(--txt-grey);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.legal ul li a {
  color: var(--orange);
}
.legal .form_btn {
  margin-top: 30px;
}

.payment {
  margin-bottom: 195px;
}
.payment .main_container {
  display: flex;
  gap: 30px;
}
.payment .payment_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
}
.payment .payment_left h2 {
  margin-bottom: 50px;
}
.payment .payment_left p {
  color: var(--txt-grey, #282828);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.payment .payment_left h5 {
  color: var(--txt-grey, #282828);
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
}
.payment .payment_left ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.payment .payment_left ul li {
  color: var(--txt-grey, #282828);
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.payment .payment_left .form_btn {
  margin-top: 30px;
}
.payment .payment_right {
  position: relative;
  flex: 1;
}
.payment .payment_right .payment_right_text {
  position: absolute;
  inset: 40px 53px 53px 38px;
}
.payment .payment_right h4 {
  color: var(--orange);
  font-size: 28px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 24px;
}
.payment .payment_right p {
  color: var(--grey, #464646);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}
.payment .payment_right ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.payment .payment_right li {
  display: flex;
  align-items: start;
  gap: 10px;
  color: var(--grey, #464646);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.payment .payment_right li img {
  margin-top: 5px;
}
.payment .payment_right .payment_main_img {
  width: 100%;
}

.payment_page {
  margin-bottom: 65px;
}

.about_product {
  margin-bottom: 50px;
}
.about_product h2 {
  margin-bottom: 50px;
}
.about_product .about_product_in {
  display: flex;
  gap: 30px;
}
.about_product p {
  color: var(--txt-grey, #282828);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.about_product .form_btn {
  margin-top: 30px;
}
.about_product .about_product_left_text {
  margin-bottom: 20px;
}
.about_product .about_product_left {
  flex: 1;
}
.about_product .about_product_right {
  flex: 1;
}
.about_product .about_product_right img {
  width: 100%;
}

.index_bottom {
  margin-bottom: 65px;
}
.index_bottom img {
  height: 488px;
  -o-object-fit: cover;
     object-fit: cover;
}
.index_bottom .main_container {
  display: flex;
  gap: 30px;
}
.index_bottom .index_bottom_right,
.index_bottom .index_bottom_left {
  flex: 1;
}
.index_bottom .index_bottom_left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.index_bottom .index_bottom_right {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.index_bottom .index_bottom_left_block h5 {
  margin-bottom: 10px;
}
.index_bottom h5 {
  color: #464646;
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
}
.index_bottom p {
  color: #282828;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.material h2 {
  margin-bottom: 50px;
}
.material .material_cards {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px 20px;
}
.material .material_cards .material_card {
  width: calc(50% - 10px);
}
.material .material_cards .material_card img {
  margin-bottom: 10px;
}
.material .material_cards .material_card h5 {
  display: flex;
  align-items: center;
  color: var(--txt-grey, #282828);
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 10px;
}
.material .material_cards .material_card h5 img {
  display: none;
}
.material .material_cards .material_card p {
  color: var(--txt-grey, #282828);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 10px;
}
.material .material_cards .material_card a {
  color: var(--txt-light, #B4B4B4);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
}
.material .material_cards_bottom {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #F0F0F0;
}
.material .material_contact {
  display: flex;
  align-items: center;
  gap: 16px;
}
.material .material_contact .material_contact_img img {
  width: 100%;
}
.material .material_contact .material_form {
  max-width: 413px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgba(235, 235, 235, 0.1);
  background: var(--white);
  padding: 40px;
}
.material .material_contact h4 {
  margin-bottom: 20px;
}
.material .material_contact p span {
  background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.material .material_contact .form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.material .material_contact .form .main_input {
  height: 48px;
}
.material .material_contact .form .form_one_input {
  margin-bottom: 14px;
}
.material .material_contact .form .form_btn {
  margin: 20px 0;
  width: 100%;
}

.contact_page h2 {
  margin-bottom: 40px;
  color: var(--txt-grey, #282828);
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
}
.contact_page .contact_page_in {
  margin-bottom: 65px;
  display: flex;
  gap: 30px;
}
.contact_page .contact_page_in .contact_page_left {
  border-radius: 10px;
  flex: 2;
}
.contact_page .contact_page_in .contact_page_left iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.contact_page .contact_page_in .contact_page_right {
  flex: 1;
}
.contact_page .contact_page_in h3 {
  margin-bottom: 20px;
  color: var(--txt-grey, #282828);
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
}
.contact_page .contact_page_in ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}
.contact_page .contact_page_in ul li {
  color: var(--txt-grey, #282828);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact_page .contact_page_in ul li a {
  display: block;
}
.contact_page .contact_page_in p {
  color: var(--txt-grey, #282828);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 20px;
}
.contact_page .contact_page_in .social_media {
  display: flex;
  gap: 10px;
  align-items: center;
}

.about .about_in {
  display: flex;
  gap: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 50px;
}
.about .about_left {
  flex: 2;
}
.about .about_left h2 {
  color: var(--txt-grey, #282828);
  font-size: 40px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 40px;
}
.about .about_left p {
  color: var(--grey, #464646);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 30px;
}
.about .about_left h5 {
  margin-bottom: 30px;
}
.about .about_left ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--txt-grey, #282828);
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
}
.about .about_left ul li p {
  margin: 10px 0 20px 0;
}
.about .about_left .accordion-single {
  display: none;
}
.about .about_right {
  flex: 1;
}
.about .material_contact {
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.about .material_contact .material_contact_img img {
  width: 100%;
}
.about .material_contact .material_form {
  max-width: 413px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid rgba(235, 235, 235, 0.1);
  background: var(--white);
  padding: 40px;
}
.about .material_contact h4 {
  margin-bottom: 20px;
}
.about .material_contact p span {
  background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .material_contact .form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
.about .material_contact .form .main_input {
  height: 48px;
}
.about .material_contact .form .form_one_input {
  margin-bottom: 14px;
}
.about .material_contact .form .form_btn {
  margin: 20px 0;
  width: 100%;
}

footer {
  padding: 65px 0;
  background-color: var(--grey);
}
footer .footer_top {
  display: flex;
}
footer h4 {
  margin-bottom: 20px;
  color: var(--white);
}
footer .footer_block_left {
  margin-right: 40px;
}
footer .footer_block_left .media_footer_top {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
}
footer .footer_link {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer_link a {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
footer .footer_top_icon {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: end;
}
footer .footer_top_icon a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
}
footer .footer_block {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
}
footer .footer_logo {
  margin-bottom: 30px;
}
footer .footer_phone {
  white-space: nowrap;
  color: var(--white);
  font-size: 32px;
  font-weight: 500;
  line-height: 130%;
  margin-bottom: 20px;
}
footer .footer_email {
  color: var(--white);
  font-size: 22px;
  font-weight: 600;
  line-height: 130%;
  margin-bottom: 20px;
}
footer .footer_social_media {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer_line {
  margin: 40px 0;
  height: 1px;
  width: 100%;
  background: #4E4E4E;
}
footer .footer_bottom {
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: space-between;
}
footer .footer_bottom span, footer .footer_bottom p {
  flex: 1;
}
footer .footer_bottom span {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  max-width: 273px;
}
footer .footer_bottom p {
  max-width: 535px;
  color: #B9B9B9;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
footer .accordion-single {
  display: none;
  margin-top: 10px;
}
footer .accordion-single-title {
  cursor: pointer;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  margin: 0;
  padding: 8px 0;
}
footer .accordion-single-title::after {
  content: "";
  position: absolute;
  right: 5px;
  top: 50%;
  transition: all 0.2s ease-in-out;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 1px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  transform: translateY(-50%) rotate(135deg);
}
footer .accordion-single-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
footer .accordion-single-content .footer_link {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
footer .accordion-single-content .footer_link a {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
}
footer .accordion-single-item.is-open .accordion-single-content {
  max-height: 150px;
}
footer .accordion-single-item.is-open .accordion-single-title::after {
  transform: translateY(-50%) rotate(315deg);
}

@media only screen and (max-width: 1400px) {
  .call_btn {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (max-width: 1260px) {
  .category .category_main .category_main_right {
    display: flex;
    justify-content: end;
  }
  .category .category_main .category_main_right img {
    max-width: 215px;
    width: 215px;
  }
  .category .category_main .category_main_left .form_btn {
    width: 100%;
  }
  .category .category_card {
    display: none;
  }
  .category .category_bottom {
    justify-content: center;
  }
  .category .category_bottom .category_media {
    display: flex;
  }
  .payment .payment_left {
    flex: 1;
  }
}
@media only screen and (min-width: 1050px) {
  .mobile_menu {
    display: none !important;
  }
}
@media only screen and (max-width: 1050px) {
  header .header_top .nav_top_link {
    display: none;
  }
  header .header_top .media_burger {
    display: block;
  }
  header .header_line {
    margin: 6px 0;
  }
  header .header_bottom_link {
    display: none;
  }
  header .header_center {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  header .header_center .header_left span {
    display: none;
  }
  header .header_center .header_search {
    display: none;
  }
  header .header_center .header_number {
    display: none;
  }
  header .header_center .media_phone {
    display: flex;
  }
  .mobile_menu {
    position: fixed;
    right: 0;
    top: 0;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 15px 40px 20px 40px;
    z-index: 5;
    display: none;
  }
  .mobile_menu .menu_close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .mobile_menu .logo {
    margin-bottom: 25px;
  }
  .mobile_menu ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .mobile_menu ul a {
    color: #282828;
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
  }
  .mobile_menu .phone {
    background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    display: block;
  }
  .mobile_menu .email {
    color: var(--txt-grey, #282828);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    display: block;
    margin: 4px 0;
  }
  .mobile_menu .links {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
  }
  .mobile_menu .links a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mobile_menu .links a:first-child {
    background: #2787F5;
  }
  .mobile_menu.active {
    display: block;
  }
  footer {
    padding: 40px 0 70px 0;
  }
  footer .footer_line {
    margin: 20px 0 10px 0;
  }
  footer .footer_block_left {
    margin-right: 0;
  }
  footer .footer_phone {
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 16px;
  }
  footer .footer_email {
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 16px;
  }
  footer .footer_top {
    flex-direction: column;
    gap: 40px;
  }
  footer .footer_block_desktop {
    display: none;
  }
  footer .footer_block_left .media_footer_top {
    display: flex;
  }
  footer .accordion-single {
    display: block;
  }
  footer .footer_bottom {
    flex-direction: column;
    gap: 10px;
  }
  footer .footer_bottom span {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  footer .footer_bottom p {
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
  }
}
@media only screen and (max-width: 1000px) {
  h1.main_title {
    color: --txt-grey;
    font-family: var(--Montserrat);
    font-size: 42px;
    font-weight: 400;
    line-height: 130%;
  }
  h2 {
    color: --txt-grey;
    font-family: var(--Roboto);
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
  }
  h3 {
    color: --txt-grey;
    font-family: var(--Manrope);
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
  }
  h4 {
    color: --txt-grey;
    font-family: var(--Manrope);
    font-size: 28px;
    font-weight: 500;
    line-height: 130%;
  }
  h5 {
    color: --txt-grey;
    font-family: var(--Roboto);
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
  }
  p {
    color: var(--txt-grey);
    font-family: var(--Roboto);
    font-size: 17px;
    font-weight: 400;
    line-height: 130%;
  }
}
@media only screen and (max-width: 993px) {
  .breadcrumb {
    margin: 20px 0 30px 0;
  }
  .breadcrumb a, .breadcrumb span {
    font-size: 12px;
  }
  .location .select {
    width: 215px;
  }
  .location .select .head span {
    font-size: 12px;
    font-weight: 300;
    line-height: 150%;
  }
  .location .select .result button {
    padding: 5px 10px;
    font-size: 12px;
    font-weight: 300;
    line-height: 150%;
  }
  header .header_line {
    display: none;
  }
  header .header_top {
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-bottom: 1px solid #4E4E4E;
  }
  .home {
    background-image: url("../images/home_mobile_bg.png");
    background-size: contain;
  }
  .home .main_container {
    margin-top: 40%;
    flex-direction: column;
  }
  .home .home_form {
    background-color: #F6F6F6;
    padding: 40px;
  }
  .home .home_form h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
  .home .home_form p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .home .home_form .form {
    margin-top: 20px;
  }
  .home .home_form .form .form_one_input {
    margin-bottom: 10px;
  }
  .home .home_form .form .main_input {
    text-align: center;
    height: 42px;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .home .home_form .form .form_btn {
    margin: 10px 0;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    gap: 6px;
  }
  .home .home_form .form p {
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
  }
  .home .home_form .form p a {
    text-decoration: underline;
  }
  .home .home_left h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
  .home .home_left p {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    margin-bottom: 6px;
  }
  .home .home_left ul li {
    margin-bottom: 5px;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
  }
  .home_under .main_container {
    padding: 20px;
    flex-wrap: wrap;
    width: 300px;
    gap: 20px 10px;
  }
  .home_under .home_under_card {
    width: calc(50% - 5px);
    gap: 6px;
  }
  .home_under .home_under_card h5 {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
  }
  .home_under .home_under_card img {
    width: 24px;
  }
  .bestsellers {
    margin: 90px 0;
  }
  .bestsellers .bestsellers_title {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
  }
  .bestsellers .bestsellers_in {
    flex-wrap: wrap;
    gap: 20px;
  }
  .bestsellers .bestsellers_in .bestsellers_card {
    width: calc(50% - 10px);
  }
  .bestsellers .bestsellers_img .bestsellers_img_titles {
    gap: 2px;
  }
  .bestsellers .bestsellers_img .bestsellers_img_titles span {
    padding: 2px 6px;
    font-size: 8px;
    font-weight: 600;
    line-height: 150%;
  }
  .bestsellers .bestsellers_content {
    padding: 8px 8px 0 8px;
  }
  .bestsellers .bestsellers_content h5 {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 10px;
  }
  .bestsellers .bestsellers_content span {
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
  }
  .bestsellers .bestsellers_content span h6 {
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
  }
  .bestsellers .bestsellers_content .bestsellers_btns {
    height: 45px;
    margin-top: 15px;
  }
  .bestsellers .bestsellers_content .bestsellers_btns h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
  }
  .bestsellers .bestsellers_content .bestsellers_btns h6 del {
    font-size: 12px;
    font-weight: 300;
    line-height: 150%;
  }
  .bestsellers .form_btn {
    width: 319px;
    height: 58px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  .statistic .statistic_in {
    gap: 20px;
    padding: 20px 0;
  }
  .statistic .statistic_card {
    height: 93px;
    width: calc(50% - 10px);
  }
  .statistic h2 {
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
  }
  .statistic .statistic_line {
    margin: 8px 0 6px 0;
  }
  .statistic p {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  .legal {
    margin: 90px 0;
  }
  .legal .main_container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .legal h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
  }
  .legal ul li {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
  }
  .legal ul li img {
    width: 30px;
  }
  .payment .main_container {
    flex-direction: column;
    gap: 20px;
  }
  .payment .payment_left h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
  }
  .payment .payment_left p {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }
  .payment .payment_left h5 {
    margin: 10px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
  }
  .payment .payment_left ul {
    margin-bottom: 10px;
    gap: 10px;
  }
  .payment .payment_left ul li {
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
  }
  .payment .payment_left .form_btn {
    font-size: 18px;
    width: 320px;
  }
  .payment .payment_right {
    background-color: whitesmoke;
    transform: scale(1.4);
    border-radius: 6px;
    height: 424px;
    width: 268px;
    margin: 80px auto 0 auto;
  }
  .payment .payment_right h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin: 0 0 12px 0;
  }
  .payment .payment_right p {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 10px;
  }
  .payment .payment_right ul {
    gap: 2px;
  }
  .payment .payment_right ul li {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }
  .payment .payment_right ul li br {
    display: none;
  }
  .payment .payment_right .payment_right_text {
    width: 75%;
    inset: 30px;
  }
  .payment .payment_right .payment_main_img {
    border-radius: 6px;
    height: 424px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .about_product h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
  }
  .about_product .form_btn {
    font-size: 18px;
    width: 320px;
  }
  .about_product .about_product_left_text {
    margin-bottom: 10px;
  }
  .about_product .about_product_in {
    flex-direction: column;
    gap: 40px;
  }
  .about_product .about_product_in p {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }
  .about_product .about_product_right {
    transform: scale(1.2);
  }
  .index_bottom {
    margin: 40px 0;
  }
  .index_bottom img {
    height: 300px;
    border-radius: 6px;
  }
  .index_bottom .main_container {
    flex-direction: column;
  }
  .index_bottom .index_bottom_left {
    gap: 10px;
  }
  .index_bottom .index_bottom_right {
    gap: 10px;
    flex-direction: column-reverse;
  }
  .index_bottom h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
  }
  .index_bottom p {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }
  .payment_page {
    padding-bottom: 20px;
  }
  .payment_page .payment_right {
    transform: scale(1.3);
  }
  .material h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
  }
  .material .form_btn {
    width: 320px;
  }
  .material .material_contact {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 65px;
  }
  .material .material_contact .material_contact_img {
    transform: scale(1.2);
  }
  .material .material_contact .material_form {
    background-color: #F6F6F6;
  }
  .material .material_contact .material_form h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
  .material .material_contact .material_form p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .material .material_contact .material_form .form {
    margin-top: 20px;
  }
  .material .material_contact .material_form .form .form_one_input {
    margin-bottom: 10px;
  }
  .material .material_contact .material_form .form .main_input {
    text-align: center;
    height: 42px;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .material .material_contact .material_form .form .form_btn {
    margin: 10px 0;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    gap: 6px;
  }
  .material .material_contact .material_form .form p {
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
  }
  .material .material_contact .material_form .form p a {
    text-decoration: underline;
  }
  .contact_page {
    margin-bottom: 40px;
  }
  .contact_page h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }
  .contact_page .contact_page_in {
    display: block;
    flex-direction: column;
  }
  .contact_page .contact_page_left {
    height: 320px;
    margin-bottom: 30px;
  }
  .contact_page .contact_page_right h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
  .contact_page .contact_page_right ul {
    gap: 5px;
  }
  .contact_page .contact_page_right ul li {
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }
  .about .about_in {
    flex-direction: column;
    gap: 20px;
  }
  .about .about_left .form_btn {
    width: 320px;
  }
  .about .about_left h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }
  .about .about_left p {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 10px;
  }
  .about .about_left h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    margin-bottom: 10px;
  }
  .about .about_left ul {
    display: none;
  }
  .about .about_left ul li {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }
  .about .about_left .accordion-single {
    display: block;
  }
  .about .about_left .accordion-single .header {
    display: flex;
    justify-content: space-between;
    color: var(--txt-grey, #282828);
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
  }
  .about .about_left .accordion-single .item {
    margin-bottom: 10px;
  }
  .about .about_left .accordion-single .content p {
    color: var(--txt-grey, #282828);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }
  .about .about_left .accordion-single .item.is-open .header svg {
    transform: rotateZ(90deg);
  }
  .about .about_right {
    display: flex;
    justify-content: center;
  }
  .about .material_contact {
    flex-direction: column;
    gap: 30px;
    margin-bottom: 65px;
  }
  .about .material_contact .material_form {
    background-color: #F6F6F6;
  }
  .about .material_contact .material_form h4 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
  .about .material_contact .material_form p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .about .material_contact .material_form .form {
    margin-top: 20px;
  }
  .about .material_contact .material_form .form .form_one_input {
    margin-bottom: 10px;
  }
  .about .material_contact .material_form .form .main_input {
    text-align: center;
    height: 42px;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
  }
  .about .material_contact .material_form .form .form_btn {
    margin: 10px 0;
    height: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    gap: 6px;
  }
  .about .material_contact .material_form .form p {
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
  }
  .about .material_contact .material_form .form p a {
    text-decoration: underline;
  }
}
@media only screen and (max-width: 768px) {
  h1.main_title {
    font-family: var(--Roboto);
    font-size: 42px;
    font-weight: 400;
    line-height: 130%;
  }
  h2 {
    font-family: var(--Roboto);
    font-size: 36px;
    font-weight: 400;
    line-height: 130%;
  }
  h3 {
    font-family: var(--Manrope);
    font-size: 32px;
    font-weight: 400;
    line-height: 130%;
  }
  h4 {
    font-family: var(--Manrope);
    font-size: 28px;
    font-weight: 400;
    line-height: 130%;
  }
  h5 {
    font-family: var(--Roboto);
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
  }
  .call_btn {
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
  }
  .call_btn img {
    width: 15px;
  }
  .category .category_top {
    margin-bottom: 30px;
  }
  .category .category_main {
    transform: scale(1.1);
    padding: 22px;
    gap: 0;
  }
  .category .category_main .category_main_block {
    width: 100%;
  }
  .category .category_main .category_main_left {
    flex: 2;
  }
  .category .category_main .category_main_left h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
  }
  .category .category_main .category_main_left p {
    margin: 0 0 13px 0;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
  }
  .category .category_main .category_main_left .form_btn {
    font-size: 16px;
  }
  .category .category_main .category_main_right {
    flex: 1;
    justify-content: start;
  }
  .category .category_main .category_main_right img {
    width: 100%;
    max-width: 100%;
  }
  .legal {
    margin: 90px 0;
  }
  .legal .legal_right {
    margin-top: 20px;
    transform: scale(1.1);
  }
  .material h2 {
    margin-bottom: 20px;
  }
  .material p {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }
  .material .material_cards .material_card {
    width: 100%;
  }
  .material .material_cards .material_card h5 {
    justify-content: space-between;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
  }
  .material .material_cards .material_card h5 img {
    display: block;
    width: 24px;
    margin-bottom: 0;
  }
  .material .material_cards .material_card a {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
  }
  .material .material_cards .material_card p {
    display: none;
  }
  .material .material_cards .material_card img {
    width: 100%;
  }
  .material .material_cards_bottom {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 480px) {
  h1.main_title {
    font-size: 42px;
    font-weight: 400;
    line-height: 130%;
  }
  .about .material_contact .material_contact_img {
    transform: scale(1.2);
  }
  .about .about_in {
    display: block;
  }
  .about .about_left {
    margin-bottom: 20px;
  }
  .about .about_right {
    width: 100%;
    height: 300px;
  }
  .about .about_right img {
    border-radius: 6px;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 360px) {
  h1.main_title {
    font-size: 42px;
    font-weight: 400;
    line-height: 130%;
  }
}
.metal_beds_home .top_content {
  display: flex;
  align-items: stretch;
  gap: 30px;
}
.metal_beds_home .slide_wrap {
  width: 594px;
}
.metal_beds_home .right_block {
  width: calc(100% - 30px - 594px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.metal_beds_home .right_block h2 {
  margin-bottom: 30px;
}
.metal_beds_home .right_block .datas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.metal_beds_home .right_block .datas .title {
  color: #282828;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.metal_beds_home .right_block .datas .data_title {
  color: #A0A0A0;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  margin-right: 6px;
}
.metal_beds_home .right_block .datas .data_value {
  color: #282828;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
}
.metal_beds_home .right_block .datas .copy {
  margin-top: 10px;
}
.metal_beds_home .right_block .datas button {
  margin-left: 4px;
}
.metal_beds_home .right_block .amount {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}
.metal_beds_home .right_block .amount .value {
  color: #B4B4B4;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: line-through;
}
.metal_beds_home .right_block .amount .discount {
  color: #FF6408;
  font-size: 32px;
  font-weight: 600;
  line-height: 130%;
}
.metal_beds_home .parent_slide {
  position: relative;
}
.metal_beds_home .parent_slide .swiper_btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
  background: #F0F0F0;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.metal_beds_home .parent_slide .prev_btn {
  left: 0;
}
.metal_beds_home .parent_slide .prev_btn svg {
  transform: rotateZ(180deg);
}
.metal_beds_home .parent_slide .next_btn {
  right: 0;
}
.metal_beds_home .parent_slide .swiper-button-disabled svg {
  opacity: 0.3;
}
.metal_beds_home .parent_slide .swiper-slide {
  overflow: hidden;
  position: relative;
}
.metal_beds_home .parent_slide .swiper-slide img {
  border-radius: 6px;
  height: 590px;
  -o-object-fit: cover;
     object-fit: cover;
}
.metal_beds_home .parent_slide .swiper-slide .alert {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.metal_beds_home .parent_slide .swiper-slide .alert div {
  padding: 4px 16px;
  display: inline-flex;
  border-radius: 2px;
}
.metal_beds_home .parent_slide .swiper-slide .alert_danger {
  background: #FF1D1D;
}
.metal_beds_home .parent_slide .swiper-slide .alert_success {
  background: #31B939;
}
.metal_beds_home .parent_slide .swiper-slide .alert_orange {
  background: #FC7412;
}
.metal_beds_home .child_slide {
  margin-top: 20px;
}
.metal_beds_home .child_slide .swiper-slide {
  position: relative;
  height: 83px;
  border-radius: 4px;
  overflow: hidden;
  border: 2px solid transparent;
}
.metal_beds_home .child_slide .swiper-slide::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.metal_beds_home .child_slide .swiper-slide img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  border-radius: 2px;
  height: 100%;
}
.metal_beds_home .child_slide .swiper-slide-thumb-active {
  border: 2px solid #F76F02;
}
.metal_beds_home .child_slide .swiper-slide-thumb-active::before {
  display: none;
}
.metal_beds_home .descriptions {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-top: 40px;
  gap: 20px;
}
.metal_beds_home .descriptions p {
  color: #464646;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}

.bestsellers {
  margin-bottom: 40px;
}
.bestsellers .bestsellers_img .bestsellers_img_titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tags {
  margin: 0 0 65px;
}
.tags h2 {
  margin-bottom: 30px;
}
.tags ul {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.tags ul a {
  color: #282828;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  height: 42px;
  border-radius: 6px;
  border: 1px solid #F76F02;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bestsellers.catalog {
  margin-top: 30px;
}
.bestsellers.catalog h2 {
  margin-bottom: 30px;
}
.bestsellers.catalog .form_btn {
  width: 100%;
  margin-top: 50px;
}

.catalog_filter {
  margin-bottom: 50px;
  overflow: visible;
}
.catalog_filter .filter_item_btn {
  width: 100%;
  border-radius: 6px;
  border: 1px solid var(--line-grey, #F0F0F0);
  background: var(--bg-cards, linear-gradient(180deg, #FAFAFA 0%, rgba(240, 240, 240, 0) 100%));
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.catalog_filter .filter_item_btn span {
  color: #282828;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.catalog_filter .filter_item {
  position: relative;
}
.catalog_filter .filter_item ul {
  margin-top: 4px;
  position: absolute;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 4px 10px 0px rgba(70, 70, 70, 0.25);
  width: 100%;
  padding: 30px 107px 30px 34px;
  display: none;
  flex-direction: column;
  gap: 14px;
}
.catalog_filter .filter_item ul a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #282828;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
.catalog_filter .filter_item ul a img, .catalog_filter .filter_item ul a svg {
  flex-shrink: 0;
  width: 18px;
  height: auto;
}
.catalog_filter .filter_item.active .filter_item_btn {
  background: #F2F2F2;
  border-color: transparent;
}
.catalog_filter .filter_item.active .filter_item_btn svg {
  transform: rotateZ(180deg);
}
.catalog_filter .filter_item.active ul {
  display: flex;
}

@media only screen and (max-width: 1050px) {
  .metal_beds_home .top_content {
    flex-direction: column;
  }
  .metal_beds_home .slide_wrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 6px;
  }
  .metal_beds_home .parent_slide {
    width: calc(100% - 86px);
  }
  .metal_beds_home .parent_slide .swiper-slide img {
    width: 100%;
    height: 400px;
  }
  .metal_beds_home .child_slide {
    width: 80px;
    margin: 0;
    display: flex;
  }
  .metal_beds_home .child_slide .swiper {
    height: 400px;
    width: 100%;
  }
  .metal_beds_home .right_block {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .metal_beds_home .top_content {
    gap: 10px;
  }
  .metal_beds_home .parent_slide {
    width: calc(100% - 62px);
  }
  .metal_beds_home .parent_slide .swiper-slide img {
    height: 226px;
  }
  .metal_beds_home .parent_slide .swiper-slide .alert {
    flex-direction: row;
    flex-wrap: wrap;
    width: 128px;
  }
  .metal_beds_home .parent_slide .swiper-slide .alert div {
    height: 16px;
    padding: 0px 6px;
    font-size: 8px;
    display: flex;
    align-items: center;
  }
  .metal_beds_home .child_slide {
    width: 56px;
  }
  .metal_beds_home .child_slide .swiper {
    height: 226px;
  }
  .metal_beds_home .right_block h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .metal_beds_home .right_block .datas {
    gap: 8px;
    margin-bottom: 20px;
  }
  .metal_beds_home .right_block .datas .title {
    font-size: 14px;
  }
  .metal_beds_home .right_block .datas .data_title {
    font-size: 14px;
  }
  .metal_beds_home .right_block .datas .data_value {
    font-size: 14px;
  }
  .metal_beds_home .right_block .amount {
    margin-bottom: 20px;
  }
  .metal_beds_home .right_block .amount .value {
    font-size: 16px;
  }
  .metal_beds_home .right_block .amount .discount {
    font-size: 22px;
  }
  .metal_beds_home .right_block .form_btn {
    width: 100%;
    font-size: 16px;
  }
  .metal_beds_home .descriptions {
    gap: 10px;
  }
  .metal_beds_home .descriptions p {
    font-size: 14px;
  }
  .tags h2 {
    font-size: 22px;
  }
  .tags ul {
    gap: 10px;
  }
  .tags ul a {
    height: 39px;
    font-size: 16px;
  }
  .catalog_filter .filter_item_btn {
    height: 41px;
  }
  .catalog_filter .filter_item_btn span {
    font-size: 10px;
  }
  .catalog_filter .filter_item_btn svg {
    width: 16px;
    height: auto;
  }
  .catalog_filter .filter_item ul {
    padding: 20px 46px 20px 20px;
    gap: 9px;
  }
  .catalog_filter .filter_item ul a {
    font-size: 10px;
  }
  .catalog_filter .filter_item ul a img {
    width: 12px;
  }
}/*# sourceMappingURL=style.css.map */