:root {
    // colors
    --red: #99020E;
    --bg-dark-grey: #303030;
    --white: #FFFFFF;
    --hover-pink: #CC3540;
    --txt-grey: #282828;
    --txt-light: #B4B4B4;
    --line-grey: #F0F0F0;
    --orange: #FF6408;

    --bg-grey: #E7E5E5;
    --bg-dark-grey: #303030;
    --grey: #464646;
    // colors

    // fonts
    --Manrope: 'Manrope', sans-serif;
    --Montserrat: 'Montserrat', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    // fonts
}


// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

body {
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
}


body {
    font-style: normal;
    font-family: var(--Manrope);
}

.wrapper {
    width: 100%;
    overflow: hidden;
}


.main_container {
    max-width: 1258px;
    padding: 0 20px;
    margin: 0 auto;
}

// global block
h1.main_title {
    color: --txt-grey;
    font-family: var(--Manrope);
    font-size: 62px;
    font-weight: 700;
    line-height: normal;
}

h2 {
    color: --txt-grey;
    font-family: var(--Manrope);
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
}

h3 {
    color: --txt-grey;
    font-family: var(--Manrope);
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
}

h4 {
    color: --txt-grey;
    font-family: var(--Manrope);
    font-size: 28px;
    font-weight: 500;
    line-height: 130%;
}

h5 {
    color: --txt-grey;
    font-family: var(--Manrope);
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
}

p {
    color: var(--txt-grey);
    font-family: var(--Manrope);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

// .main_link {
//     transform: skew(-30deg);
//     @include flex-full-center;
//     border: 1px solid $--Primary-Red;
//     @include transition();

//     span {
//         color: $--Primary-White;
//         text-align: center;
//         font-family: $Bebas;
//         font-size: 24px;
//         font-weight: 700;
//         line-height: 100%;
//         letter-spacing: 1.2px;
//         @include transition;
//         padding: 12px 15px;
//         position: relative;
//         transform: skew(30deg);
//     }

//     &:hover {
//         span {
//             color: $--Primary-Red;
//         }
//     }

//     &:active {
//         background-color: $--Primary-Red;

//         span {
//             color: $--Primary-White;
//         }
//     }
// }


.call_btn {
    position: fixed;
    bottom: 100px;
    right: 100px;
    @include flex-full-center();
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background: var(--gradient-button, linear-gradient(89deg, #FF6205 0.3%, #FF9744 99.67%));
    box-shadow: 0 0 0 0 #fff;
    animation: pulsate 1.5s infinite;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 0 0 rgba(rgb(246, 187, 148), 0.95);
    }

    75% {
        box-shadow: 0 0 0 18px rgba(#D95F16, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(#EE9049, 0);
    }
}

.text_grandient {
    font-family: var(--Manrope);
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
    background: var(--gradient-button, linear-gradient(89deg, #FF6205 0.3%, #FF9744 99.67%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main_input {
    padding: 12px 30px;
    border-radius: 4px;
    color: var(--txt-light);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    border: none;
    background: #FFF;
    border-radius: 4px;
    border: 1px solid var(--line-grey, #F0F0F0);
    background: linear-gradient(180deg, #FAFAFA 0%, rgba(240, 240, 240, 0.00) 100%);
}

.form_btn {
    width: 333px;
    height: 58px;
    @include flex-full-center();
    gap: 6px;
    color: var(--txt-grey);
    font-family: var(--Manrope);
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    border-radius: 6px;
    border: 1px solid #E0DFDF;
    background: var(--button-gradient, linear-gradient(267deg, #DEDEDE -5.79%, rgba(203, 200, 200, 0.00) 64.85%, rgba(190, 186, 186, 0.26) 105.39%));
}

// slect
.location {
    // padding: 10px;
    // margin-bottom: 30px;
    .select {
        width: 265px;
        position: relative;

        .head {
            height: 25px;
            padding-left: 5px;
            padding-right: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            span {
                white-space: nowrap;
                margin-left: 7px;
                color: #B9B9B9;
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
            }

            input {
                border: 1px solid red;
                width: 100%;
                margin-left: 10px;
                display: none;
                // margin-left: 7px;
                color: #353535;
                font-family: "Manrope", sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%;
                background: transparent;
                outline: none;
                border: none;
            }

            .icon {
                transition: .2s ease;
            }
        }

        .result {
            background-color: #fff;
            position: absolute;
            z-index: 2;
            top: 20px;
            left: 0;
            width: 100%;
            display: none;
            flex-direction: column;

            button {
                padding: 10px;
                color: #353535;
                font-family: "Manrope", sans-serif;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%;
                text-align-last: left;
                transition: .2s ease;
                
                &:hover {
                    background: #D9D9D9;
                }
            }
        }
    }

    .select.active {
        background: white;

        .head {
            span {
                display: none;
            }

            input {
                display: block;
            }

            .icon {
                transform: rotateZ(180deg);
            }
        }

        .result {
            display: flex;
        }
    }
}
// slect

// breadcrumb
.breadcrumb {
    margin: 39px 0 30px 0;
    @include flex-center();
    gap: 6px;

    a {
        color: #464646;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }

    span {
        color: #8C8C8C;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }
}
// breadcrumb

// header
header {
    background-color: #464646FF;

    .header_line {
        margin: 8px 0 19px 0;
        background-color: #4E4E4E;
        height: 1px;
        width: 100%;
    }

    .media_burger {
        display: none;
    }

    .header_top {
        padding-top: 10px;
        @include flex-center();
        justify-content: space-between;

        .nav_top_link {
            @include flex-center();
            gap: 20px;
            
            a {
                color: #B9B9B9;
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }

    .header_center {
        margin-bottom: 30px;
        @include flex-center();
        justify-content: space-between;

        .header_left {
            @include flex-center();
            gap: 20px;

            span {
                position: relative;
                color: #B9B9B9;
                font-size: 14px;
                font-weight: 500;
                line-height: 150%;

                &:after {
                    position: absolute;
                    content: '';
                    left: -7px;
                    height: 100%;
                    width: 1px;
                    border-radius: 100px;
                    background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
                }
            }
        }

        .header_search {
            padding: 11px 14px;
            @include flex-center();
            gap: 6px;
            height: 42px;
            width: 408px;
            border-radius: 6px;
            border: 1px solid #5C5C5C;
            background: #585858;

            input {
                width: 100%;
                background: none;
                border: none;
                color: #898989;
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
            }
        }

        .header_number {
            display: flex;
            flex-direction: column;
            align-items: end;

            .header_phone {
                background: var(--gradient-line, linear-gradient(89deg, #F76F02 0.3%, #FD8132 99.67%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 22px;
                font-weight: 600;
                line-height: 130%; /* 28.6px */
            }
            
            .header_email {
                color: #B9B9B9;
                font-size: 14px;
                font-weight: 400;
                line-height: 150%;
            }
        }

        .media_phone {
            display: none;
        }
    }

    .header_bottom_link {
        @include flex-center();
        justify-content: space-between;

        .header_bootom_item {
            overflow: hidden;
            border-radius: 6px 6px 0 0;
            
            a {
                display: block;
                padding: 6px 30px 4px 30px;
                @include flex-center();
                gap: 6px;
                color: var(--white);
                font-size: 16px;
                font-weight: 400;
                line-height: 150%;
                @include transition();
    
                svg {
                    path {
                        fill: var(--white);
                    }
                }

                &:hover {
                    background-color: var(--white)  ;
                    color: var(--orange);

                    svg {
                        path {
                            fill: var(--orange);
                        }
                    }
                }
            }
        }

        .header_bootom_item.active {
            background-color: var(--white);
            a {
                color: var(--orange);

                svg {
                    path {
                        fill: var(--orange);
                    }
                }
            }
        }

    }
}
// header

// home
.home {
    padding: 35px 0;
    background-image: url('../images/home_bg.png');
    background-repeat: no-repeat;
    background-size: cover;

    .main_container {
        @include flex-center();
        gap: 30px;
    }

    .home_left {
        h1 {
            color: var(--txt-grey);
            font-size: 62px;
            font-weight: 700;
            line-height: 74px;
            margin-bottom: 20px;
        }

        p {
            color: var(--txt-grey);
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            margin-bottom: 16px;
        }

        ul {
            li {
                @include flex-center();
                gap: 13px;
                color: var(--txt-grey);
                font-size: 18px;
                font-weight: 400;
                line-height: 150%;
                margin-bottom: 16px;
            }
        }
    }

    .home_form {
        text-align: center;
        border-radius: 6px;
        border: 1px solid rgba(235, 235, 235, 0.10);
        background: var(--white);
        padding: 52px 40px;

        h4 {
            margin-bottom: 20px;
        }

        p {
            span {
                background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .form {
            margin-top: 40px;
            display: flex;
            flex-direction: column;

            .main_input {
                height: 48px;
            }

            .form_one_input {
                margin-bottom: 14px;
            }

            .form_btn {
                margin: 20px 0;
                width: 100%;
            }
        }
    }
}
// home

// home_under
.home_under {
    border-top: 1px solid var(--line-grey, #F0F0F0);
    border-bottom: 1px solid var(--line-grey, #F0F0F0);

    .main_container {
        padding: 26px 0;
        @include flex-center();
        justify-content: space-between;
    }

    .home_under_card {
        @include flex-center();
        gap: 16px;
    }
}
// home_under

// bestsellers
.bestsellers {
    margin: 120px 0;

    .bestsellers_title {
        margin-bottom: 50px;
    }

    .bestsellers_in {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    .bestsellers_card {
        width: calc(100% / 4 - 23px);
        overflow: hidden;
        border-radius: 6px;
        border: 1px solid var(--line-grey, #F0F0F0);
        background: var(--bg-cards, linear-gradient(180deg, #FAFAFA 0%, rgba(240, 240, 240, 0.00) 100%));
    }

    .bestsellers_img {
        position: relative;
        
        img {
            width: 100%;
        }

        .bestsellers_img_titles {
            position: absolute;
            left: 10px;
            top: 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 4px;


            span {
                color: var(--white);
                font-size: 14px;
                font-weight: 600;
                line-height: 150%;
                padding: 4px 16px;
                border-radius: 2px;
            }

            .one {
                background-color: #FF1D1D;
            }

            .two {
                background-color: #02C20D;
            }

            .three {
                background-color: #FC7412;
            }
        }
    }

    .bestsellers_content {
        padding: 20px 20px 0 20px;

        h5 {
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 6px;
        }

        span {
            @include flex-center();
            color: var(--txt-light, #B4B4B4);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 4px;

            h6 {
                margin-left: 4px;
                color: var(--txt-grey, #282828);
                font-size: 16px;
                font-weight: 500;
                line-height: 24px; /* 150% */
            }
        }
        .bestsellers_btns {
            height: 80px;
            margin-top: 23px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 8px;

            h6 {
                display: flex;
                flex-direction: column;
                color: var(--orange, #FF6408);
                font-size: 20px;
                font-weight: 700;
                line-height: 150%; 

                del {
                    color: var(--txt-light, #B4B4B4);
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 150%; /* 24px */
                    text-decoration-line: strikethrough !important;
                }
            }
        }
    }

    .form_btn {
        margin-top: 20px;
        width: 393px;
    }
}
// bestsellers

// category
.category {
    margin-bottom: 90px;
    .category_main {
        display: flex;
        align-items: end;
        gap: 30px;
        flex: 2;
        padding: 40px;
        border-radius: 6px;
        border: 1px solid var(--line-grey, #F0F0F0);
        background: var(--bg-cards, linear-gradient(180deg, #FAFAFA 0%, rgba(240, 240, 240, 0.00) 100%));

        .category_main_block {
            width: calc(100% / 2);
        }

        .category_main_left {
            // flex: 1;

            p {
                margin: 20px 0 30px 0;
            }

            .form_btn {
                width: 251px;
            }
        }

        .category_main_right {
            // flex: 1;

            img {
                width: 230px;
                max-width: 230px;
            }
        }
    }
    
    .category_card {
        padding: 20px;
        flex: 1;
        border-radius: 6px;
        border: 1px solid var(--line-grey, #F0F0F0);
        background: var(--bg-cards, linear-gradient(180deg, #FAFAFA 0%, rgba(240, 240, 240, 0.00) 100%));
        
        
        .category_card_img {
            img {
                width: 100%;
            }
        }
        .category_card_btn {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
                color: var(--txt-grey, #282828);
                font-size: 22px;
                font-weight: 600;
                line-height: 130%;
            }
        }
    }

    .category_top {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-bottom: 30px;

    }
    
    .category_bottom {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
}
// category

// statistic
.statistic {
    border-top: 1px solid var(--line-grey, #F0F0F0);
    border-bottom: 1px solid var(--line-grey, #F0F0F0);

    .main_container {
        max-width: 1044px;
    }

    .statistic_in {
        padding: 40px 0;
        display: flex;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
    }

    .statistic_card {
        width: calc(100% / 4 - 38px);
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    h2 {
        background: var(--gradient-button, linear-gradient(89deg, #FF6205 0.3%, #FF9744 99.67%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 40px;
        font-weight: 600;
        line-height: 130%;
    }

    .statistic_line {
        margin: 6px 0 10px 0;
        width: 100%;
        height: 2px;
        border-radius: 100px;
        background: var(--gradient-line, linear-gradient(89deg, #F76F02 0.3%, #FD8132 99.67%));
    }
}
// statistic

// legal
.legal {
    margin: 90px 0 194px 0;
    
    .main_container {
        display: flex;
        gap: 30px;
    }

    .legal_right , .legal_left {
        flex: 1;
    }

    h2 {
        margin-bottom: 50px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;

        li {
            display: flex;
            align-items: start;
            gap: 20px;

            span {
                color: var(--txt-grey);
                font-size: 18px;
                font-weight: 400;
                line-height: 150%; /* 27px */
            }

            a {
                color: var(--orange);
            }
        }
    }

    .form_btn {
        margin-top: 30px;
    }
}
// legal

// payment
.payment {
    margin-bottom: 195px;

    .main_container {
        display: flex;
        gap: 30px;
    }

    .payment_left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 2;

        h2 {
            margin-bottom: 50px;
        }

        p {
            color: var(--txt-grey, #282828);
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
        }

        h5 {
            // margin: 20px 0;
            color: var(--txt-grey, #282828);
            font-size: 22px;
            font-weight: 600;
            line-height: 130%;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;

            li {
                color: var(--txt-grey, #282828);
                font-size: 22px;
                font-weight: 600;
                line-height: 130%;
                @include flex-center();
                gap: 10px;
            }
        }

        .form_btn {
            margin-top: 30px;
        }
    }

    .payment_right {
        position: relative;
        flex: 1;

        .payment_right_text {
            position: absolute;
            inset: 40px 53px 53px 38px;
        }

        h4 {
            color: var(--orange);
            font-size: 28px;
            font-weight: 500;
            line-height: 130%;
            margin-bottom: 24px;
        }

        p {
            color: var(--grey, #464646);
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            margin-bottom: 20px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        li {
            @include flex-start();
            gap: 10px;
            color: var(--grey, #464646);
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;

            img {
                margin-top: 5px;
            }
        }

        .payment_main_img {
            width: 100%;
        }
    }
}

.payment_page {
    margin-bottom: 65px;
}
// payment

// about_product
.about_product {
    margin-bottom: 50px;

    h2 {
        margin-bottom: 50px;
    }

    .about_product_in {
        display: flex;
        gap: 30px;
    }

    p {
        color: var(--txt-grey, #282828);
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }

    .form_btn {
        margin-top: 30px;
    }

    .about_product_left_text {
        margin-bottom: 20px;
    }

    .about_product_left {
        flex: 1;
    }

    .about_product_right {
        flex: 1;
        img {
            width: 100%;
        }
    }
}
// about_product

// index_bottom
.index_bottom {
    margin-bottom: 65px;

    img {
        height: 488px;
        object-fit: cover;
    }

    .main_container {
        display: flex;
        gap: 30px;
    }

    .index_bottom_right,
    .index_bottom_left {
        flex: 1;
    }

    .index_bottom_left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
    }

    .index_bottom_right {
        display: flex;
        flex-direction: column;

        gap: 30px;
    }

    .index_bottom_left_block {
        h5 {
            margin-bottom: 10px;
        }
    }

    h5 {
        color: #464646;
        font-size: 22px;
        font-weight: 600;
        line-height: 130%;
    }

    p {
        color: #282828;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }
}
// index_bottom

// footer
footer {
    padding: 65px 0;
    background-color: var(--grey);

    .footer_top {
        display: flex;
    }

    h4 {
        margin-bottom: 20px;
        color: var(--white);
    }

    .footer_block_left {
        margin-right: 40px;

        .media_footer_top {
            display: none;
            position: absolute;
            bottom: 0;
            right: 0;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            border-radius: 4px;
            background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
        }
    }

    .footer_link {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        a {
            color: var(--white);
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
        }
    }

    .footer_top_icon {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: end;

        a {
            @include flex-full-center();
            width: 80px;
            height: 80px;
            border-radius: 4px;
            background: var(--button-active, linear-gradient(89deg, #FF6408 0.3%, #FF8F3B 99.67%));
        }
    }

    .footer_block {
        position: relative;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .footer_logo {
        margin-bottom: 30px;
    }

    .footer_phone {
        white-space: nowrap;
        color: var(--white);
        font-size: 32px;
        font-weight: 500;
        line-height: 130%;
        margin-bottom: 20px;
    }

    .footer_email {
        color: var(--white);
        font-size: 22px;
        font-weight: 600;
        line-height: 130%;
        margin-bottom: 20px;
    }

    .footer_social_media {
        @include flex-center();
        gap: 10px;
    }

    .footer_line {
        margin: 40px 0;
        height: 1px;
        width: 100%;
        background: #4E4E4E;
    }

    .footer_bottom {
        @include flex-start();
        gap: 10px;
        justify-content: space-between;

        span, p {
            flex: 1;
        }

        span {
            color: var(--white);
            font-size: 18px;
            font-weight: 400;
            line-height: 150%;
            max-width: 273px;
        }

        p {
            max-width: 535px;
            color: #B9B9B9;
            font-size: 12px;
            font-weight: 400;
            line-height: 150%;
        }

    }

    .accordion-single  {
        display: none;
        margin-top: 10px;
    }
    
    .accordion-single-title {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px; 
    margin: 0;
    padding: 8px 0;
    }
    
    .accordion-single-title::after{
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    transition: all 0.2s ease-in-out;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 1px;
    border-top: solid 2px #fff;
    border-right: solid 2px #fff;
    transform: translateY(-50%) rotate(135deg);
    }
    
    .accordion-single-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;
    }
    
    .accordion-single-content {

    .footer_link {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        a {
            font-size: 12px;
            font-weight: 400;
            line-height: 150%;
        }
    }
    }
    
    .accordion-single-item.is-open .accordion-single-content  {
    max-height: 150px;
    }
    
    .accordion-single-item.is-open .accordion-single-title::after  {
    transform: translateY(-50%) rotate(315deg);
    }
}
// footer


@import 'responsive';